<template>
  <Dialog :key="$route.fullPath" v-model:visible="this.$store.state.createRoomDialogVisible" closable close-on-escape
          modal>
    <template #header>
      <div>Создание комнаты</div>
    </template>

    <h5>Номер отеля</h5>
    <span class="p-input-icon-left">
            <i class="pi pi-user" style="position: relative; left: 25px"/>
            <InputText v-model="id_housing" aria-describedby="name-help" placeholder="Номер отеля"
                       type="text"/><br>
            <small v-if="this.$store.state.validation.id_housing" id="name-help" class="p-error">
              {{ this.$store.state.validation.id_housing }}
            </small>
    </span>
    <h5>Номер комнаты</h5>
    <span class="p-input-icon-left">
            <i class="pi pi-lock" style="position: relative; left: 25px"/>
            <InputText v-model="room_number" aria-describedby="description-help" placeholder="Комментарий"
                       type="text"/>
            <br>
            <small v-if="this.$store.state.validation.room_number" id="description-help" class="p-error">
              {{ this.$store.state.validation.room_number }}
            </small>
    </span>
    <h5>Количество мест</h5>
    <span class="p-input">
            <InputText v-model="number_seats"  style="position: relative; left: 18px" type="text"/>
      <br>
            <small v-if="this.$store.state.validation.number_seats" id="a-help" class="p-error">
              {{ this.$store.state.validation.number_seats }}
            </small>
    </span>

    <h5>Цена</h5>
    <span class="p-input-icon-left">
            <i class="pi pi-lock" style="position: relative; left: 25px"/>
            <InputText v-model="price" aria-describedby="price-help" placeholder="Цена"
                       type="text"/>
            <br>
            <small v-if="this.$store.state.validation.price" id="price-help" class="p-error">
              {{ this.$store.state.validation.price }}
            </small>
    </span>

    <template #footer>
      <Button autofocus icon="pi pi-check" label="Создать" @click="create"/>
    </template>

  </Dialog>
</template>

<script>

import Dialog from 'primevue/dialog';
import Button from 'primevue/button';
import InputText from 'primevue/inputtext';
// import Calendar from 'primevue/calendar';
// import RadioButton from 'primevue/radiobutton';
// import moment from 'moment';

export default {
  name: "CreateRoom",
  components: {Dialog, InputText, Button},
  data() {
    return {
      id_housing: '',
      room_number: '',
      number_seats: '',
      price: '',
      visible: false,
      modal: true,
    }
  },
// Вотчер для изменения формата даты, которая возвращается календарем
//   watch: {
//     birthday: function () {
//       this.birthday = moment(this.birthday).format('YYYY-MM-DD');
//     },
//
//   },
  methods:
      {
        create() {
          this.$store.dispatch('createRoom', {
            id_housing: this.id_housing,
            room_number: this.room_number,
            number_seats: this.number_seats,
            price: this.price
          });
        },

      }
}
</script>

<style scoped>

</style>