<template>
  <div id="app">
    <Menubar/>
<!--    <Menu/>-->
    <CreateRoom/>
    <router-view></router-view>

  </div>
</template>
<script>

import store from "./state";

// import Menu from "./components/Menu";
import Menubar from "./components/Menubar"
import CreateRoom from "./components/CreateRoom";

export default {
  components: {CreateRoom, Menubar},
  computed: {
    user() {
      return this.$store.state.user;
    },
  },

  mounted() {
    const token = localStorage.getItem('token');
    if (token) {
      store.commit('setToken', token);
      store.commit('setLoggedIn', true);
    }
    this.$store.dispatch('getUser')
  }
};
</script>